html, body {
    height: 100%
}

body {
    background-color: black;
    color: white;
  }



.row.content {
    height: 550px
}

.well {
    background-color: #222222;


}

.sidenav {
    background-color: #222222;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

@media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }

    .sidenav {
        background-color: #ffffff;
        height: 100%;
    }

  }